USE [master]
GO
/****** Object:  Database [MovieLens]    Script Date: 2018/12/18 14:23:45 ******/
CREATE DATABASE [MovieLens]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieLens', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MovieLens.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MovieLens_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MovieLens_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieLens].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieLens]
GO
/****** Object:  Table [dbo].[rating]    Script Date: 2018/12/18 14:23:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rating](
	[id] [bigint] NOT NULL,
	[user_id] [bigint] NULL,
	[movie_id] [bigint] NULL,
	[rating] [bigint] NOT NULL,
	[rated_at] [datetime] NULL,
 CONSTRAINT [PK_rating] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
